{% extends 'base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <span>
            <h2>Settings
                <span style="margin-left: 5px;" data-feather="sliders"></span>
            </h2>
        </span>
    </div>
    <form style="width: 250px">
        <div class="form-group">
            <label for="scheduled_sync">Daily Sync Time</label>
            <input type="time" class="form-control" id="scheduled_sync" aria-describedby="dateHelp"
                placeholder="Enter time">
            <small id="dateHelp" class="form-text text-muted">Pick time for daily scheduled downloads</small>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</main>
{% endblock content %}
