{% extends 'base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"> 
        <span>
            <h1 class="h2">Home
                <span style="margin-left: 5px;" data-feather="home"></span>
            </h1>
        </span>
    </div>
    <div class="row mx-md-n10">
        <div class="col px-md-10">
            <div style="border-radius: 8px; box-shadow: 5px 5px 5px grey;"class="card">
                <div style="background-color: #f8f9fa; border-radius: 8px;" class="card-body">
                    <h5 class="card-title">Projects</h5>
                    <p class="card-text">
                    <h1 style="color:#007bff;">20</h1> total projects.</p>
                    <a href="{{ url_for('projects.projects') }}" class="btn btn-primary">Detail View
                        <span style="margin-left: 5px;" data-feather="layers"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col px-md-10">
            <div style="border-radius: 8px; box-shadow: 5px 5px 5px grey;" class="card">
                <div style="background-color: #f8f9fa; border-radius: 8px;" class="card-body">
                    <h5 class="card-title">Files</h5>
                    <p class="card-text">
                    <h1 style="color:#007bff;">43</h1> files have been synced.</p>
                    <a href="{{ url_for('files.files') }}" class="btn btn-primary">Detail View
                        <span style="margin-left: 5px;" data-feather="box"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col px-md-10">
            <div style="border-radius: 8px; box-shadow: 5px 5px 5px grey;" class="card">
                <div style="background-color: #f8f9fa; border-radius: 8px;" class="card-body">
                    <h5 class="card-title">Errors</h5>
                    <p class="card-text">
                    <h1 style="color:#007bff;">0</h1> errors to report.</p>
                    <a href="{{ url_for('errors.errors') }}" class="btn btn-primary">Detail View
                        <span style="margin-left: 5px;" data-feather="frown"></span>
                    </a>
                </div>
            </div>
        </div>
    </div><br>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <span>
            <h2>Latest Activity
                <span style="margin-left: 5px;" data-feather="zap"></span>
            </h2>
        </span>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    <div class="table-responsive"></div>
        <table class="table table-striped table-sm" id="activity_table">
            <thead>
                <tr>
                    <th>Project Number</th>
                    <th>Project Name</th>
                    <th>Filename</th>
                    <th>Last Sync</th>
                    <th>Total Backups</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
                <tr>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                    <td>elit</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>Integer</td>
                    <td>nec</td>
                    <td>odio</td>
                    <td>Praesent</td>
                </tr>
                <tr>
                    <td>1,003</td>
                    <td>libero</td>
                    <td>Sed</td>
                    <td>cursus</td>
                    <td>ante</td>
                </tr>
                <tr>
                    <td>1,004</td>
                    <td>dapibus</td>
                    <td>diam</td>
                    <td>Sed</td>
                    <td>nisi</td>
                </tr>
                <tr>
                    <td>1,005</td>
                    <td>Nulla</td>
                    <td>quis</td>
                    <td>sem</td>
                    <td>at</td>
                </tr>
                <tr>
                    <td>1,006</td>
                    <td>nibh</td>
                    <td>elementum</td>
                    <td>imperdiet</td>
                    <td>Duis</td>
                </tr>
                <tr>
                    <td>1,007</td>
                    <td>sagittis</td>
                    <td>ipsum</td>
                    <td>Praesent</td>
                    <td>mauris</td>
                </tr>
                <tr>
                    <td>1,008</td>
                    <td>Fusce</td>
                    <td>nec</td>
                    <td>tellus</td>
                    <td>sed</td>
                </tr>
                <tr>
                    <td>1,009</td>
                    <td>augue</td>
                    <td>semper</td>
                    <td>porta</td>
                    <td>Mauris</td>
                </tr>
                <tr>
                    <td>1,010</td>
                    <td>massa</td>
                    <td>Vestibulum</td>
                    <td>lacinia</td>
                    <td>arcu</td>
                </tr>
                <tr>
                    <td>1,011</td>
                    <td>eget</td>
                    <td>nulla</td>
                    <td>Class</td>
                    <td>aptent</td>
                </tr>
                <tr>
                    <td>1,012</td>
                    <td>taciti</td>
                    <td>sociosqu</td>
                    <td>ad</td>
                    <td>litora</td>
                </tr>
                <tr>
                    <td>1,013</td>
                    <td>torquent</td>
                    <td>per</td>
                    <td>conubia</td>
                    <td>nostra</td>
                </tr>
                <tr>
                    <td>1,014</td>
                    <td>per</td>
                    <td>inceptos</td>
                    <td>himenaeos</td>
                    <td>Curabitur</td>
                </tr>
                <tr>
                    <td>1,015</td>
                    <td>sodales</td>
                    <td>ligula</td>
                    <td>in</td>
                    <td>libero</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
