<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Funnel 0.0.1</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/Funnel_Icon_Only.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Bootstrap DataTables CSS-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <nav class="col-md-0 d-none d-md-block bg-light sidebar">
      <div style="position: fixed; width: 15%; height:100%; margin:0px; padding:0px; background: linear-gradient(160deg, rgba(20,31,76,1) 0%, rgba(0,123,255,1) 100%); " class="sidebar-sticky">
        <ul style="margin-top: 18px" class="nav flex-column">
          <div style="vertical-align: top; display: inline-block; text-align: left; width: 12px;">
            <span><img style="width: 200px; margin: 5px 10px 20px 18px;" src="/static/images/Funnel_Icon.png"
                alt="Funnel Icon"></span>
          </div>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('home.home') }}">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('projects.projects') }}">
              <span data-feather="layers"></span>
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('files.files') }}">
              <span data-feather="box"></span>
              Files
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('errors.errors') }}">
              <span data-feather="frown"></span>
              Errors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('settings.settings') }}">
              <span data-feather="sliders"></span>
              Settings
            </a>
          </li>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            <span style="color: #007bff;">Actions</span>
          </h6>
          <li class="nav-item">
            <a style="margin: 10px 10px 10px 15px;" href="#" class="btn btn-primary">
              Sync Now
              <span style="margin-left: 5px;" data-feather="play-circle"></span>
            </a>
          </li>
        </ul>
        <img style="width: 60px; position: absolute; bottom: 10px; left: 15px; opacity: .3;" src="/static/images/Rios-white-transparent.png" alt="RIOS Logo">
      </div> 
    </nav>
    <div class="container-fluid">
    <div class="row">
    {% block content %}
    {% endblock content%}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    
    <!-- Data Tables-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#activity_table').DataTable();
      });
    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  
  </body>
</html>
